body{
    background-image:url("https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bG9naW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
    background-size:cover;
    background-position:center;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-form
{
    
    display:flex;
    flex-direction:column;
    padding-top:100px;
    padding-right:100px;
    padding-left:100px;
    padding-bottom:100px;
    color:white;
    background-color:rgba(0,0,200,0.3);
    
    
}
input
{
    opacity: 0.4;
    border:none;

}
input:focus{
    background-color:rgba(0, 200, 50, 0.192);
    border:solid 1px red;
}
.input-group
{
    margin-top:1em;
    margin-bottom:1em;
    display:flex;
    flex-direction: column;
}