:root
{
    --color1:#293f50;
    --color-font:#888;
    --color-ascent:#648880;

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    --webkit-box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    background: #293f50;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header
{
    display:grid;
    padding:0 100px;
    grid-template-columns:auto auto;
    grid-template-rows:70% 30%;
    grid-template-areas: 'main-heading date-location'
    'main-heading navbar';
    background-color: var(--color1);
    padding:0 18%;
    padding-bottom:2em;
    
}
.main-heading-container
{
    grid-area: main-heading;
   
}
.main-heading
{
    border-top:solid var(--color-ascent) 3px;
    padding-top:10%;
    line-height: 1.2em;
    color:white;
    width:50%;
    font-size:2.4em;
    font-weight: 100;
   
}
.date-location
{
    grid-area:date-location;
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
   font-size:1.3em;
   color:var(--color-ascent);
    
}
.navbar
{
    grid-area:navbar;
    display:flex;
    flex-direction:row ;
    align-items:flex-end;
    justify-content:flex-end;
    color: white;
    text-transform: capitalize;
    width:100%;


    font-size:12px;
}
.navitem
{
   
    display:flex;
    align-items: flex-end;
    font-size:1em;
    text-align: right;
    text-transform:uppercase;
    margin-left:20px;
    font-size:1.3em;
    text-decoration:none;
    color:white;
    
}
.navitem:hover
{
    color:var(--color-ascent)
}
.hero
{
    padding:100px 100px 100px 100px;
    background-color: var(--color1);
    text-align: center;    
    margin:0% 10%;

}
.hero-heading
{
    font-size:2.3em;
    color:var(--color-ascent);
    display:inline-block;
    text-decoration: none;
}
.hero-content
{
    line-height: 2em;
    margin-bottom:20px;
    color:white;
    font-size:1.3em;
    text-decoration:none;

    
}
.hero-button
{

    padding:20px;
    border:solid white 2px;
    color:white;
    display:inline-block;
    border-radius: 5px;
    text-decoration: none;
}
.hero-button:hover
{
    background-color: white;
    color:black;
}
.card-container
{
    display:flex;
    background-color:white;
    flex-direction:row;
    justify-content: space-between;
    padding:5% 20%;

}
.card
{
    width:100%; 
    padding:15px;
    
}
.card-heading
{
    text-transform: uppercase;
    color:var(--color-font)
}
.card-image
{
    margin:10px 0px;
    width:100%;
    border-radius:10px;
}
.card-content-heading
{
    margin:10px 0px;
    text-transform: capitalize;
    font-size:18px;
    color:var(--color-ascent)
}
.card-content{
    padding-top:10px;
    padding-right:15px;
}
footer
{
    display:flex;
    flex-direction: row;
    background-color: var(--color1);
    padding:50px 0px;
}
.copyright
{
    width:50%;
}
.footer-navbar
{
    display:flex;
    justify-content: flex-end;
    width:50%;
}
.footer-navitem
{
    margin-left:10px;
    text-transform: capitalize;
    color:white;
    font-weight: 100;
    text-decoration: none;
}
.footer-navitem:hover{

    color:var(--color-ascent)
}

.container{
    padding:0 18%;
}

section
{
    padding:5% 18%;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    text-align: center;
}
.section-heading
{
    font-size:2.3em;
    color:var(--color-ascent);
    
}
.section-content
{
    font-size:1.4em;
    margin-top:30px;
    color:var(--color-font);
    line-height: 1.3em;
}