:root {
    --yellow: #ffc600;
    --black: #272727;
}


body
{
    background-image: url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/assets/images/topography.svg"), linear-gradient(
110deg
, #f93d66, #6d47d9);
    background-size: 340px, auto;
    min-height: calc(100vh - 100px);
    margin: 50px;
    /* background: white; */
    background-attachment: fixed;
    letter-spacing: -1px;
}
nav
{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap:10px 10px;

}
.item
{
    background-color:var(--yellow);
    color:black;
    padding:10px;
    font-size:1.2em;
    text-align:center;
    font-weight: bolder;
    text-transform:uppercase;
   
}
main
{
    margin-top:2em;
    display:grid;
    grid-gap:10px;
    grid-template-columns: auto auto 20%;
    grid-template-areas: 'taco-img taco-img taco-price'
    'taco-img taco-img kambucha-price';
}
.taco-img
{
    grid-area: taco-img;
    background-image:url("https://jolly-kalam-23776e.netlify.app/restaurantwebsite/images/taco.jpg");
    padding:150px 50px;
    background-size:cover;
    background-position: center;
    
    
}
.taco-price
{
    grid-area:taco-price;
    background-color:var(--yellow);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;

}
.taco-img .heading
{
    margin:10px;
    display: inline-block;
    background-color:var(--yellow);
    font-size:2em;
    width:auto;
}
.taco-img .base-text
{
    margin:10px;
    background-color:var(--yellow);
    font-size:1.5em;
    width:auto;
    display:inline-block;
}
.kambucha-price
{
    grid-area:kambucha-price;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--yellow);
    font-size:2em;
}
.cards
{
    display:grid;
    grid-template-columns: auto auto auto auto;
    margin-top:2em;
    grid-gap:10px;
}
.card
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1em;
    
    background-color:white;
}
.card span{
    font-size: 4em;
}
.card .card-description
{
    text-align: center;
    color:grey;
    font-weight: bold;
}
.taco
{
    display:grid;
    padding:4em;
    grid-template-columns:auto auto;
    grid-template-rows:50vh ;
    background-color:white;
    margin-top:2em;
    flex-direction:row;
}


.taco .description p
{
    padding:10px 20px;
    text-align: center;
}
.taco .description
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.taco .description button
{
 background-color:var(--yellow);
 text-align: center;
 padding:10px;
}
.gallery
{
    
    display:grid;
    margin-top:2em;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap:20px;
    grid-row-gap:20px;
}
.gallery img
{
    width:100%;
}
.card .card-title
{
    font-size:1.5em;
    font-weight: bold;
}
.seperation
{
    display:grid;
    grid-template-columns: auto 20% auto;
}

.instagram-heading
{
    text-align: center;
}
@media(max-width:927px)
{
    .taco
    {
        grid-template-columns: auto;

    }
    .taco .description .p
    {
        padding:50px;
    }
    .gallery
    {
        grid-template-columns: auto auto auto;
    }
}
@media(max-width:636px)
{
    nav{
        grid-template-columns: auto auto;
    }
    .taco
    {
        grid-template-columns: auto;
        grid-template-rows:auto auto;
    }
    .taco .description .p
    {
        padding:50px;
    }
    .gallery{
        grid-template-columns: auto auto;
    }

}

@media(max-width:593px)
{
    .cards{
        grid-template-columns: auto auto;
    }
    .imag img
    {
        width:100%;
    }
}
@media(max-width:480px)
{
    main{
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows:auto auto;   
        grid-template-areas:'taco-img taco-img'
        'taco-price kambucha-price'
    }
}
