$background-color-dark:#333;
$button-color-red:#b90415;
$primary-color: #b90415;
$primary-color-hover: #d3071b;
$secondary-color: #103063;
$secondary-color-hover: #143f85;
$light-color: #f4f4f4;
$main-div-img:"https://jolly-kalam-23776e.netlify.app/mytunes/img/showcase.jpeg";
@mixin primary-button
{
    padding:20px 20px;
    background-color: $button-color-red;
    color:$light-color;
    border:none;
    
}
*
{
    margin:0;
    padding:0;
}
body,html{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
nav{
    display:flex;
    background-color:$background-color-dark;
    width:100%;
    padding:0px 20px;
    height: 50px;
    position:fixed;
    z-index: 1;
    

    .navbar-brand
    {
        display:flex;
        align-items: center;
        color:$light-color;
        font-size:1.2rem;

    }
    ul
    {
        display: flex;
        list-style-type: none;
        height: 100%;
        
    

       
        
    
    }
    .navitems
    {
        text-decoration:none;
        color:$light-color;
        display:flex;
        height: 100%;
        padding:0px 30px;
        align-items: center;
        
    }
    li:hover{
        background-color: rgb(114, 114, 114);
    }

}

.main
{
    width:100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(#{$main-div-img});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    h1{
        color:$light-color;
        font-size:4rem;
        font-weight: bold;
        margin:2.5rem;
    }
    h2
    {
        color:$light-color;
        font-size:2rem;
        margin:10px 0px;
        text-align: center;
    }
    p{
        color:$light-color;
        font-size:1.3rem;
        text-align: center;
        padding:10px 150px;
    }

}

#music-container
{
    display: flex;
    flex-direction: column;
    background-color: $background-color-dark;
    text-align: center;
    color:$light-color;
    padding:20px 150px;

    h1
    {
        font-size:3rem;
        margin:20px 0px;
    }
    h2{
        font-size:2em;
        margin:20px 0px;
    }
    p{
        font-size:1.2em;
        margin:20px 0px;
    }
    .subpara
    {
        font-size:1em;
    }
    button
    {
        @include primary-button;
    }
}
