*
{
    font-size:1.3em;
}
.grid-container
{
    display:grid;
    background-color:lightblue;
    grid-template-columns: auto auto auto;
    grid-template-rows:100px 100px 100px;
    grid-template-areas: 'header header header'
    'section1 . section2'
    'footer footer footer';
    grid-gap:10px;
    text-align:center;
}
#header
{
    grid-area: header;
    background-color:red;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
#section1
{
    grid-area: section1;
    background-color:white;

}
#section2
{
    grid-area:section2;
    background-color:green;
}
#footer
{
    grid-area:footer;
    background-color:black;
    color:white;
}