:root
{
    --color1:#293f50;
    --color-font:#888;
    --color-ascent:#648880;

}

.schedule-container
{
    background: white;
    padding:5% 18%;
}

table
{
    width:100%;
   
    text-align: left;
}
th
{
    width:20%;
    text-align: right;
    padding:30px 50px;
    font-style: normal;
    font-weight: 100;
    color:var(--color-font);

}
td
{
    padding: 20px 0px;
    border-bottom:1px solid rgb(219, 219, 219);
    
}

.speakers-link
{
   display:grid;
   grid-template-columns: 50% 50%;
   grid-gap:30px;
   padding-right: 10px;
}

a{
    text-decoration: none;
    color:var(--color-font);
}
.speakers-link-heading
{
    font-size:1.4em;
    color:var(--color-ascent);
}
.schedule-heading
{
    font-size:1.6em;
    color:var(--color-ascent);
}
