body
{
    width:80%;
    height:1000px;
    padding:20px;
}
.container
{
    background-color:lightblue;
    font-size:large;
    width:10%;;
    height:10%;;
    
    border-radius: 0%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.container:hover{
    animation:to-circle 2s linear;
}
@keyframes to-circle{
    0%{
        width:10%;
        height: 10%;
        border-radius:10%;
    }
    25%
    {
        width:40%;
        height:40%;
        border-radius:15%;
    }
    75%
    {
        width:80%;
        height:80%;
        border-radius:30%;
    }
    100%
    {
        width:100%;
        height:100%;
        border-radius:50%;
    }

}