*
{
    background-color:  #eee;
    margin:10px;
}
body
{
    background-color: white;
}
html
{
    padding:30px 10px;
    background-color: white;
}
.main-container
{
    background-color: #eee;
    padding:50px 10px;
}
h1{
    text-align: center;
    background-color:inherit;
   
}

img
{
    
    border-radius: 50%;
}
.thumbnail-image
{
    background-color: inherit;
    
}
.thumbnail
{
    margin:30px 0;
    background-color: inherit;
    border:1px solid rgb(165, 165, 165) ;
    text-align: center;
}
.thumbnail-des
{
    padding:10px;
    background-color:rgb(219, 217, 217);
}
ul + p
{
    text-align: center;
}